* {
  box-sizing: border-box;
  background-image: url(https://raw.githubusercontent.com/jorisburla/jorisburla/gh-pages/Background.jpg);
}

h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  padding: 0.6em;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 20em;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 0.7em;
}
